.screen{
  background-color: var(--background);
  position: relative;
}
.container{
  display: flex;
  padding: 10px;
  justify-content: stretch;
  flex-direction: column;
  align-items: start;
  width: auto;
  min-width: 100%;
  height: auto;
  gap: 20px;
}

.cards_container{
  display: flex;
  padding: 10px;
  align-items: start;
  justify-content: stretch;
  width: auto;
  height: auto;
  min-width: 100%;
  gap: 20px;
}

.rowcard{
  display: flex;
  width: auto;
  flex-grow: 1;
}

.side_action{
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  flex-grow: 1;
  gap: 10px;
  justify-content: stretch;
}

.welcome{
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: var(--foreground);
}

.hastag{
  padding: 10px 12px;
  background-color: var(--secondary-green);
  width: -moz-fit-content; 
  width: fit-content;
  border-radius: 20px;
  color: var(--background);
}

.fullbtn{
  padding: 25px;
  font-size: 1.4rem;
  border-radius: 15px;
  width: auto;
  min-width: 100%;
  color: var(--secondary-yellow);
  background-color: var(--secondary-yellow-white);
  border-color: var(--secondary-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.others{
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
.usericon{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
  color: whitesmoke;
  padding: 10px;
}

