.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72dvh;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100dvw;
  height: auto;
}
.option{
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  color: var(--foreground);
  background-color: var(--foreground-grey-light);
}
.length, .timer{
  width: 100%;
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(../../public/signin/vectors.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.questionary{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.question{
  width: 100%;
  text-align: justify;
}

.intro{
  color: var(--secondary-green-light);
  text-align: justify;
  font-weight: bold;
}

.correct{
  background-color: var(--secondary-green-light) !important;
  color: #FFF !important;
}
.wrong{
  background-color: var(--secondary-red-light) !important;
  color: #FFF !important;
}