#fa {
  font-size: 2em;
  display: none;
  color: var(--secondary-color);
}
.navbar {
  display: flex;
  padding: 20px 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav {
  position: sticky;
  min-width: 100dvw;
  display: flex;
  gap: 30px;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.user{
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
  color: whitesmoke;
}

.logo img {
  width: 128px;
}

