#fa {
  font-size: 2em;
  display: none;
  color: var(--secondary-color);
}

.nav {
  position: sticky;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  display: flex;
  padding: 50px 0 0 0;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navbar .menu{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.user {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-yellow);
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
}

